/* darkmode.css */

body {
  background-color: #333;
  color: #fff;
}

#chat-container {
  background-color: #1c1c1c;
}

.user-message {
  background-color: #5d9cec;
}

.chatbot-message {
  background-color: #616161;
}

.message-form {
  background-color: #212121;
  box-shadow: 0 -1px 3px rgba(255, 255, 255, 0.1);
}

#submit-button {
  background-color: #5d9cec;
}

.main-menu {
  background-color: #212121;
}