{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css')}}">
{% endblock %}
{% block content %}
{% with messages = get_flashed_messages(category_filter=['signup']) %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  {{ message }}
</div>
{% endfor %}
{% endif %}
{% endwith %}
<body>
    <div class="title">Create an account</div>
    <div class="content">
      <form method="POST">
        {{ form.hidden_tag() }}
        <div class="user-details">
          <div class="input-box">
            <span class="details">{{ form.first_name.label }}</span>
            {{ form.first_name(placeholder="Enter first name", required=True) }}
          </div>
          <div class="input-box">
            <span class="details">{{ form.last_name.label }}</span>
            {{ form.last_name(placeholder="Enter last name", required=True) }}
          </div>
          <div class="input-box">
            <span class="details gender-label">{{ form.gender.label }}</span>
            {{ form.gender(class="custom-select", required=True) }}
          </div>
          <div class="input-box">
            <span class="details">{{ form.age.label }}</span>
            {{ form.age(placeholder="Enter age", required=True) }}
          </div>
          <div class="input-box">
            <span class="details">{{ form.email.label }}</span>
            {{ form.email(placeholder="Enter email", required=True) }}
          </div>
          <div class="input-box">
            <span class="details">{{ form.password.label }}</span>
            {{ form.password(placeholder="Enter password", required=True) }}
          </div>
          <div class="input-box">
            <span class="details">{{ form.pass_confirm.label }}</span>
            {{ form.pass_confirm(placeholder="Confirm password", required=True) }}
          </div>
        </div>
        <div class="button">
          {{ form.submit(class="btn btn-outline-light btn-lg px-5", value="Sign Up") }}
        </div>
      </form>
      <p class="mb-0 custom-p">Have already an account? <a href="{{url_for('core.login')}}" class="text-white-50 fw-bold login-link">Login here</a></p>
    </div>
</body>
{% endblock %}